@charset "UTF-8";
 
        body {
            font-family: 'Arial', sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #f0f0f0;
        }

        .container {
            text-align: center;
            padding: 40px;
            border-radius: 10px;
            background-color: #28a745;
            color: #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        h1 {
            font-size: 3em;
            margin-bottom: 20px;
        }

        p {
            font-size: 1.2em;
            margin-top: 10px;
        }

        .btn {
            background-color: #fff;
            color: #28a745;
            border: 2px solid #28a745;
            padding: 10px 20px;
            font-size: 1.1em;
            text-decoration: none;
            border-radius: 5px;
            cursor: pointer;
            transition: 0.3s;
        }

        .btn:hover {
            background-color: #28a745;
            color: #fff;
        }
  